extends layout

block content
  h1 #{translation.hello}
  p #{translation.introduction}
  p 
    strong #{translation.test_translation} 
    a(href="/set-language/en-us" class=language == 'en-us' ? 'active' : '') en-us
    | &nbsp;
    a(href="/set-language/id-id" class=language == 'id-id' ? 'active' : '') id-id
  p 
    a(href="/blabla") #{translation.test_error}
    br
  | #{translation.thanks}
  br
  a(target="_blank" href="https://github.com/yussan/express-mongodb-boilerplate") https://github.com/yussan/express-mongodb-boilerplate
